.list-group{
        position: absolute;
    z-index: 5;
    top: 100px;
    left: 20px;
    background: white;
    padding: 15px;
} 
.d-flex h5, .d-flex {
    padding-right: 20px;
}
#mainText {
	width: 70px;
}

.mb-1 {
	font-size: 14px;
	font-weight: bold;
	    width: 70px;
}
.input-group {
margin: 20px;
}

.border-bottom {
	border-bottom: solid #c7c7c7;
	border-width: 1px;
}
.Titolo {
	text-align: center;
	font-size: 16px;
	padding-bottom: 5px;
	font-weight: bold;
}
.TotaleRegione, .Raggio {
	padding-bottom: 5px;
}
.ValoreTipologia, .perTipologia {
	width: 40px;
	text-align: right;
}

.Tipo {
	padding-right: 55px;
	font-weight: bold;
}
 .fooTotale {
	padding-right: 8px;
	font-weight: bold;
}
.TipoTot {
	padding-right: 28px;
	font-weight: bold;
}
.foTot {
	padding-right: 14px;
	font-weight: bold;
}

.foTot, .foPer {
	font-size: 15px;
}
.TipoPer, .foPer {
	font-weight: bold;
}
.TipoContainer {
	border-bottom: solid #c7c7c7;
	border-width: 2px;
}