.list-group{
        position: absolute;
    z-index: 5;
    top: 45px;
    left: 27px;
    background: white;
    padding: 15px;
} 
.HeadCasino {
	background-color:#bd0a0a; 
	padding-top: 2px;
	padding-bottom: 2px;
}
.alert {
	text-align: center;
}
.headTitolo {
	    margin-top: 20px;
    margin-bottom: 15px;
}
div.allinea {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}
.btn-toolbar {
	    margin: 0 auto;
    display: inline-flex;
}
.TitoloHead {
	margin-bottom: 0px;
	color: white;
}
.btn{
	margin-right: 5px;
} 
.d-flex h5, .d-flex {
    padding-right: 20px;
}
#mainText {
	width: 70px;
}
.img-fluid {
	    position: absolute;
    left: 0px;
    top: 14px;
}

.mb-1 {
	font-size: 14px;
	font-weight: bold;
	    width: 70px;
}
.input-group {
margin: 20px;
}

.border-bottom {
	border-bottom: solid #c7c7c7;
	border-width: 1px;
}
.Titolo {
	text-align: center;
	font-size: 16px;
	padding-bottom: 5px;
	font-weight: bold;
}
.TotaleRegione, .Raggio {
	padding-bottom: 5px;
}
.ValoreTipologia, .perTipologia {
	width: 40px;
	text-align: right;
}
.evidenzia {
	display: inline;
	font-weight: bold;
}

.Tipo {
	padding-right: 55px;
	font-weight: bold;
}
 .fooTotale {
	padding-right: 8px;
	font-weight: bold;
}
.TipoTot {
	padding-right: 28px;
	font-weight: bold;
}
.foTot {
	
	font-weight: bold;
}
.btn-primary:focus, .btn-primary.active {
	background-color: #fdf815;
	box-shadow: 0 0 0 2px rgba(216, 2, 2, 0.33);
	color: black;
}
.btn-default {
	background-color: #0275d8;
	color: white;
}


.TipoPer, .foPer {
	font-weight: bold;
}
.TipoContainer {
	border-bottom: solid #c7c7c7;
	border-width: 2px;
}
.PE_Ctip{
	background-color: #D9D9D9;
}
.PE_Atip, .PE_Btip {
background-color: #595959;
color:#fff; 
}
.PEC1tip {
	background-color: #D6CA8B;
}
.POtip{
	background-color: #dcc7c7;
}
.OStip{
	background-color: #c5d4c7;
}
.TitoloRegione {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline; 
}

#Venezia, #Mestre {
	display: none;
}
table{
	font-size: 12px;
} 

.table td, .table th {
    padding: 0.25rem;
    }